.container .container-2{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  text-align: center;
}


div.prodotto{
  display: inline-block;
  position: relative;
}


.sconto{
  position: absolute;
  right: 0;
  top: 0;
  background-color: #4AA02C;
  padding: 2px;
}

.sconto2{
  position: absolute;
  right: 0;
  top: 0;
  background-color: #E42217;
  padding: 2px;
}

.cuore{
  display: none;
  position: absolute;
  left: 50%;
  bottom: 3%;
  font-size: 180%;
}

.prodotto:hover .cuore{
  display: block;
  color: #E42217;
}
